.Venues {
    display: flex;
    justify-content: center;
}

.Venues-imageWrapper {
    aspect-ratio: 0.7 / 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    
    @media (min-width: 768px) {
        columns: 2;
        width: 60%;
    }
}

.Venues-image {
    display: block;
    height: auto;
}