.Apply {
  text-align: center;
}

@media (min-width: 768px) {
  .Apply {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - var(--NavBar-height) - var(--Footer-height));
  }
}
