.NavBar {
    display: flex;
    align-items: center;
    background-color: inherit;
    height: 181px;
    padding: 2rem 0;
    width: 100%;
}

.NavBar-list {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
}

.NavBar-list li {
    text-transform: uppercase;
}

.NavBar-list li:not(:last-child) {
    margin-right: 1rem;
}

.NavBar-link {
    color: #fff;
}

.NavBar-link:hover, .NavBar-link:focus {
    color: #dadada;
}