.NavBar {
  display: flex;
  align-items: center;
  background-color: inherit;
  height: 181px;
  padding: 2rem 0;
  width: 100%;
}

.NavBar-list {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.NavBar-list li {
  list-style-type: none;
  text-transform: uppercase;
}

.NavBar-list li:not(:last-child) {
  margin-right: 1rem;
}

.NavBar-link {
  color: #fff;
}

.NavBar-link:hover,
.NavBar-link:focus {
  color: #dadada;
}
