.Home {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Home-content {
  color: #fff;
  flex-direction: column;
  max-width: 95vw;
  text-align: center;
}

.Home-content > * {
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .Home-content {
    max-width: 50vw;
  }
}

.Home-logoWrapper {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  
}

@media (min-width: 768px) {
  .Home-logoWrapper {
    margin: auto;
    max-width: 580px;
  }
}

.Home-logo {
  height: auto;
  max-width: 100vw;
}

@media (min-width: 768px) {
  .Home-logo {
    max-width: 100%;
  }
}
