.Home {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Home-logoWrapper {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .Home-logoWrapper {
    max-width: 580px;
  }
}

.Home-logo {
  height: auto;
}
