.Home {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;;
  max-width: 95vw;
  text-align: center;
}

.Home > * {
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .Home {
    max-width: 50vw;
  }
}

.Home-logoWrapper {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .Home-logoWrapper {
    max-width: 580px;
  }
}

.Home-logo {
  height: auto;
  max-width: 100vw;
}

@media (min-width: 768px) {
  .Home-logo {
    max-width: 100%;
  }
}
