.Layout {
  background-attachment: fixed;
  background-image: url("/images/compass-background-mob.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 100vh;
  min-height: 100dvh;
  min-width: 100dvw;
  width: 100vw;
}

@media (min-width: 768px) {
  .Layout {
    background-image: url("/images/compass-background.jpg");
  }
}

.Layout-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
