.Layout {
  --Footer-height: 200px;

  background-image: url("/images/compass-background-mob.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: auto;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  min-width: 100dvw;
  width: 100vw;
}

@media (min-width: 768px) {
  .Layout {
    background-attachment: fixed;
    background-size: cover;
    background-image: url("/images/compass-background.jpg");
    background-repeat: no-repeat;
  }
}
