.Layout {
  background-image: url("/images/compass-background-mob.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  min-height: 100dvh;
}

@media (min-width: 768px) {
  .Layout {
    background-image: url("/images/compass-background.jpg");
  }
}

.Layout-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
