.Footer {
  display: flex;
  flex-direction: column;
}

.Footer-content {
    background: linear-gradient(90deg, #ff97d6, #f4e816);
    max-width: 100%;
}

.Footer-wave {
  width: 100%;
  height: 80px;
  line-height: 0;
}

.Footer-logos {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: end;
}