:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: var(--font-montserrat); /* Add the font variable */
  
  --Footer-height: 200px;
  --NavBar-height: 89px;

  --color-primary: #396cdf;
}

@media (min-width: 768px) {
  :root {
    --NavBar-height: 181px;
  }
}

html,
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
}

body {
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.font-size-xxxl {
  font-size: 3rem;
}

.font-size-xxl {
  font-size: 2.5rem;
}

.font-size-xl {
  font-size: 2rem;
}

.font-size-lg {
  font-size: 1.5rem;
}

.font-size-md {
  font-size: 1.25rem;
}

.font-size-sm {
  font-size: 1rem;
}

.mg-btm-xxl {
  margin-bottom: 64px;
}

.mg-btm-xl {
  margin-bottom: 48px;
}

.mg-btm-lg {
  margin-bottom: 32px;
}

.mg-btm-md {
  margin-bottom: 16px;
}

.mg-btm-sm {
margin-bottom: 8px;
}

.font-family-lato {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}