.PageLayout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  min-width: 100dvw;
  width: 100vw;
}

.PageLayout--defaultBackground {
  background-image: url("/images/compass-background-mob.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

.PageLayout--solidBackground {
  background-color: var(--color-primary);
}

.PageLayout-mainWrapper {
    flex: 1 0 auto;}

@media (min-width: 768px) {
  .PageLayout--defaultBackground {
    background-attachment: fixed;
    background-size: cover;
    background-image: url("/images/compass-background.jpg");
    background-repeat: no-repeat;
  }
  
  .PageLayout-navbar {
    padding: 1rem calc(1rem * 100 / 100);
  }
}
