.Artist {
    align-items: start;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Artist-imageWrapper {
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.Artist-image {
    display: block;
    height: auto;
    width: 100%;
}

.Artist-content {
    align-self: start;
}

@media (min-width: 992px) {
    .Artist {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }

    .Artist-imageWrapper {
        aspect-ratio: 1 / 1.4;
    }
}